# Server Configuration
PORT=3000

# Authentication & Security
AUTH_SECRET=super_secure_bskji_secret_key_change_in_production
AUTH_DEFAULT_PASSWORD=
ADMIN_NIPS=198501012010011001,198203152009021002,198011112005011003

# Google Sheets Data Source (Backend only - never exposed to frontend)
GOOGLE_SHEET_ID=1JfQ-DU2LrLhdc89JlGaKcuGuRhw6w2kB_iU6NWurL8U
GID_KGB=102066519
GID_KP=451178497
SHEET_MASTER_PEGAWAI=Data Pegawai BSKJI

# AI Services
GEMINI_API_KEY=
